/*------------------------------------*\
    #BASE - SCAFFOLDING
\*------------------------------------*/


html {
  font-size: #{$font-size-browser}px;
  background-color: $body-bg;
}

body > svg {
  display: none;
}

body {
  font-style: normal;
  font-size: rem(18);
  line-height: lh(40,18);
  font-family: $font-family-base;
  color: $text-color;
}

// Links

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

