/*------------------------------------*\
    #BASE - TYPOGRAPHY
\*------------------------------------*/


h1 {
  font-size: rem(24);
  line-height: lh(36,24);
  font-family: $font-family-base;
  color: $black;
}

h2 {
  font-size: rem(21);
  line-height: lh(24,21);
  font-family: $font-family-base;
  color: $black;
}

p {
  //margin: (0) (0) ($spacing);
  font-size: rem(21);
  line-height: lh(24,21);
  font-family: $font-family-base;
  color: $black;
}