/*------------------------------------*\
    #UTILS - MIXINS
\*------------------------------------*/

//== Breakpoints
//
//## 

@mixin bp-xsmall {
  @media (min-width: #{$bp-xsmall}px) {
    @content;
  }
}

@mixin bp-small {
  @media (min-width: #{$bp-small}px) {
    @content;
  }
}

@mixin bp-medium {
  @media (min-width: #{$bp-medium}px) {
    @content;
  }
}

@mixin bp-large {
  @media (min-width: #{$bp-large}px) {
    @content;
  }
}

@mixin bp-xlarge {
  @media (min-width: #{$bp-xlarge}px) {
    @content;
  }
}

@mixin bp-xxlarge {
  @media (min-width: #{$bp-xxlarge}px) {
    @content;
  }
}

// @mixin bp-low-dpi {
//   @media (max-resolution: 192dpi) {
//     @content;
//   }
// }

@mixin image-2x($image/* , $width, $height */) {
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url($image);
    //background-size: $width $height;
  }
}

//== Text
//
//## 

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}