$svg-icons: (
  svg-sprite: (width: 137px, height: 91px, svgPath: '../img/sprite.css.svg'),
  icon-checkbox: (width: 20px, height: 20px, backgroundX: 0px, backgroundY: -70.778px),
  icon-checkbox--hover: (width: 20px, height: 20px, backgroundX: -20px, backgroundY: -70.778px),
  logo-triangle: (width: 137px, height: 70.778px, backgroundX: 0px, backgroundY: 0px),
);