.btn {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 15px;
  font-weight: bold;
  font-family: $font-family-base;
  font-size: calc-rem(14);
  line-height: calc-lh(21,14);
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  @include text-ellipsis;
  color: $white;
  border: none;
  outline: none;
  cursor: pointer;
  @include transition-all;


  &--primary {
    background-color: $blue-base;


    &:hover {
      color: $white;
      background-color: $blue-dark;
    }
  
    &:active {
      color: #88B6D1;
      background-color: $blue-darker;
    }
  }
  
  &--secondary {
    background-color: $brown-base;


    &:hover {
      color: $white;
      background-color: $brown-light;
    }
  
    &:active {
      color: #928A85;
      background-color: $brown-lighter;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }
}