.filter {
  color: $white;

  &__btn {
    display: block;
    margin: 12px auto;
    padding: 5px 34px;
    font-weight: normal;
    border: 2px solid #fff;
    border-radius: 3px;
    background: transparent;

    &:last-of-type {
      margin: auto;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.25);
    }

    &:active {
      opacity: 0.6;
    }
  }
  
  &__label {
    &--price-controls {
      display: block;
      padding: 0 20%;
      font-size: 0;

      & > span {
      display: inline-block;
      width: 35%;
      box-sizing: border-box;
      font-size: calc-rem(14);
      line-height: calc-lh(21, 14);
      }
    }
  }

  &__input-price {
    display: inline-block;
    width: 65%;
    box-sizing: border-box;
    text-align: center;
    font-size: calc-rem(14);
    line-height: calc-lh(21, 14);
    border: none;
    outline: none;
    background-color: transparent;

    &:focus {
      color: $black;
      font-weight: bold;
      border-radius: 3px;
      background-color: $white;
    }
  }

  &__options {
    padding: 0 calc-percent(80, $bp-xlarge);
    padding-bottom: 30px;
  }

  &__fieldset {
    padding: 0;
    margin: 0;
    border: none;

    &-title {
      padding-top: 30px;
      margin-bottom: 12px;
      font-size: calc-rem(16);
      line-height: calc-lh(21, 16);
      font-weight: bold;
    }

    &-list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  &__price-controls {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 0;
    border: 2px solid #fff;

    &:before {
      content: '';
      position: absolute;
      padding: 12px 0;
      left: 50%;
      top: 50%;
      width: 2px;
      background: $white;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__range-controls {
    position: relative;
    height: 2px;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.3);

    &-scale {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 14%;
      background: $white;
    }
  }

  &__scale-slider {
    position: absolute;
    top: -8px;
    padding: 2px;
    border: 8px solid $white;
    border-radius: 50%;
    outline: none;
    background: #ababab;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.14);
    cursor: pointer;

    &:hover {
      background-color: #1c4f80;
    }

    &--min {
      left: 0;
    }

    &--max {
      right: 0;
    }
  }

  &__list-item {
    @include bp-medium {
      padding: 12px 0;
    }
   
  }
  
  &__checkbox[type=checkbox] {
    display: none;

    &:disabled + label {
      cursor: default;
      opacity: 0.3;
    }

    &:disabled + label:before {
      opacity: 1;
    }

    & + label {
      position: relative;
      display: inline-block;
      padding-left: 40px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        @include svgSprite(icon-checkbox);
        transform: translateY(-50%);
        @include transition-all;
        opacity: 0.6;
      }

      &:hover:before {
        transition: none;
        opacity: 1;
      }
    }
    
    &:checked + label:before {
      @include svgSprite(icon-checkbox--hover);
      opacity: 1;
    }
  }
}


