/*------------------------------------*\
    #GRID
\*------------------------------------*/

// Lost Grid System (ratio, cycle, gutter)

.grid {
  lost-utility: clearfix;
  width: 100%;

  @include bp-medium {
    &__col-1 {
      lost-column: 1;
    }

    &__col-1-6 {
      lost-column: (1/6) (0) (0);
    }

    &__col-2-6 {
      lost-column: (2/6) (0) (0);
    }

    &__col-3-6 {
      lost-column: (3/6) (0) (0);
    }

    &__col-4-6 {
      lost-column: (4/6) (0) (0);
    }

    &__col-5-6 {
      lost-column: (5/6) (2) (0);
    }
  }
}