.intro {
  padding: 0 25px;
  margin-top: 40px;
  color: $text-color;
  text-align: center;


  &__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: calc-rem(18);
  line-height: calc-lh(26,18);

    @include bp-medium {
      font-size: calc-rem(21);
    }
  }
}


.intro__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: calc-rem(18);
  line-height: calc-lh(26,18);

  @include bp-medium {
    font-size: calc-rem(21);
  }
}


.intro__text {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: calc-rem(14);
  line-height: calc-lh(26,14);

  @include bp-medium {
    margin-bottom: 30px;
  }
}