.intro {
  padding: 0 25px;
  margin-top: 40px;
  color: $text-color;
  text-align: center;
}


.intro__title {
  margin-bottom: 30px;
	font-weight: bold;
  font-size: rem(18);
  line-height: lh(26,18);
}


.intro__text {
  margin-bottom: 5px;
	font-weight: normal;
  font-size: rem(14);
  line-height: lh(26,14);
}