.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  background-color: rgba(255,255,255,0.9);


  &__hashtag {
    font-weight: bold;
    font-size: calc-rem(21);
    line-height: calc-lh(26,21);
    margin-bottom: 40px;
  }

  &__social-links {
    margin-bottom: 40px;
  }

  &__copyright {
    margin-bottom: 25px;
  }
}