.search-hotel-popup {
  position: relative;
  box-sizing: border-box;
  max-width: 568px;
  margin: 0 auto;
  font-weight: bold;
  font-family: $font-family-base;
  font-size: calc-rem(14);
  line-height: calc-lh(26,14);
  z-index: 1;


  & fieldset {
    padding: 0;
    border: none;
  }

  &__form {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: calc-percent(50, 568);
    background-color: $white;
    box-shadow: $shadow;


    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__counter-wrapper {
    width: 115px;
    height: 38px;
    font-size: 0;
    background-color: $gray-light;
  }

  &__counter {
    margin: 0;
  }

  &__btn-open {
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 0;
    font-size: calc-rem(18);
    line-height: calc-lh(26,18);
    z-index: 1;
  }

  &__btn-search {
    display: block;
    width: 100%;
    padding: 15px;
  }

  &__icon-calendar {
    position: absolute;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 36px;
    height: 38px;
    cursor: pointer;
    fill: #B2B2B2;
    border-top: 2px solid $gray-light;
    border-right: 2px solid $gray-light;
    border-bottom: 2px solid $gray-light;
    background-color: $gray-light; 


    & > svg {
      width: 20px;
      height: 100%;
    }

    &:hover {
      fill: $black;
    }

    &:active {
      fill: $blue-base;
    }
  }

  &__icon-minus,
  &__icon-plus {
    display: inline-block;
    width: 38px;
    height: 100%;
    vertical-align: middle;
    fill: #B2B2B2;


    & > svg {
      width: 10px;
      height: 100%;
    }

    &:hover {
      fill: $black;
    }

    &:active {
      fill: $blue-base;
    }
  }

  &__label {
    display: block;
    padding-left: 13px;
    text-align: left;
  }

  &__input {
    font-size: calc-rem(14);
    line-height: calc-lh(26,14);
    

    &--date {
      width: 100%;
      height: 38px;
      box-sizing: border-box;
      padding: 6.5px 10px;
      padding-right: 38px;
      line-height: 1;
      border: 2px solid $gray-light;
      background-color: $gray-light;


      &:hover {
        border: 2px solid $gray-dark;
        background-color: $gray-dark;        
      }

      &:focus {
        border: 2px solid $gray-light;
        background-color: $white;
        outline: none;
      }
      
      &:hover ~ .search-hotel-popup__icon-calendar {
        border-top: 2px solid $gray-dark;
        border-right: 2px solid $gray-dark;
        border-bottom: 2px solid $gray-dark;
        background-color: $gray-dark; 
      }

      &:focus ~ .search-hotel-popup__icon-calendar {
        border-top: 2px solid $gray-light;
        border-right: 2px solid $gray-light;
        border-bottom: 2px solid $gray-light;
        background-color: $white;
      }
    }

    &--counter {
      display: inline-block;
      box-sizing: border-box;
      width: 38px;
      margin: 0;
      padding: 4.5px 0;
      font-size: calc-rem(14);
      line-height: calc-lh(26,14);
      text-align: center;
      vertical-align: middle;
      border: 2px solid $gray-light;
      background-color: $gray-light;

      &:hover {
        background-color: $gray-dark; 
        border: 2px solid $gray-dark;       
      }
      &:focus {
        border: 2px solid $gray-light;
        background-color: $white;
        outline: none;
      }
    }
  }

  &__fieldset {
    position: relative;
    margin: 0;
    margin-bottom: 25px;
    overflow: hidden;


    &:last-of-type {
      margin-bottom: 50px;
    }
  }
}