.sort-by {
  font-size: calc-rem(12);
  line-height: calc-lh(26, 12);

  &__title {
    font-size: calc-rem(12);
    line-height: calc-lh(26, 12);

    @include bp-medium {
      display: inline-block;
      margin: 0;
      vertical-align: bottom;
      padding: 0 30px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include bp-medium {
      display: inline-block;
      vertical-align: bottom;
    }

    &-item {
      @include bp-medium {
        float: left;
        margin-right: 30px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }   

  &__link-item {
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted $blue-base;
    color: rgba(0, 0, 0, 0.3);
    

    &--active {
      color: $blue-base;
      border: none;
    
    }
    
    &:hover {
      
    }

    &:active {
      color: $black;
      border: none;
      
    }
  }

  
}