.sorting {
  padding: 15px calc-percent(80, $bp-xlarge);
  font-size: 0;
  text-align: center;

  @include bp-medium {
    text-align: left;
  }

  &__sort-by {
    @include bp-medium {
      display: inline-block;
    }
  }

  &__sort-result {
    display: inline-block;
    width: 135px;
    margin: 0;
    font-size: calc-rem(21);
    line-height: calc-lh(26, 21);
    font-weight: bold;
    vertical-align: bottom;

    &-value {
      @include bp-medium {
        display: inline-block;
        width: 28px;
      }
    }
  }

  &__sort-arrows {
    margin: 8px 0;
    padding: 0;
    list-style: none;
    font-size: 0;

    @include bp-medium {
      text-align: right;
    }

    & > li {
      display: inline-block;
      width: 10px;
      height: 10px;

      &:first-child {
        margin-right: 15px;
      }
    }
  }
  
  &__arrow {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;

    &-down {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #ccc;
      }

      &:hover:before {
        border-top: 10px solid $black;
      }

      &--active:before {
        border-top: 10px solid #81b3d2;
        cursor: default;
      }

      &--active:hover:before {
        border-top: 10px solid #81b3d2;
        cursor: default;
      }
    }

    &-up {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #ccc;
      }

      &:hover:before {
        border-bottom: 10px solid $black;
      }

      &:active:before {
        border-bottom: 10px solid #81b3d2;
      }

      &--active:before {
        border-bottom: 10px solid #81b3d2;
        cursor: default;
      }

      &--active:hover:before {
        border-top: 10px solid #81b3d2;
        cursor: default;
      }
    }
  }
}