$icons: (
  sprite: (width: 60px, height: 30px, svgPath: '../../build/img/sprite.css.svg'),
  icon-checkbox: (width: 20px, height: 20px, backgroundX: 0px, backgroundY: 0px),
  icon-checkbox--hover: (width: 20px, height: 20px, backgroundX: -30px, backgroundY: 0px),
);